h3{
    font-size: 20px !important;
}

.btn btn-success:hover {
    background-color: crimson;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 2px 2px 38px blue;}
    to{box-shadow: 2px 2px 38px green;}
}